.side__drawer {
    margin-top:54px;
    position: fixed;
    width: 200px;
    max-width: 70%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    overflow-y: auto;
    background-color:#06090e;
    color:white;
}

.side__drawer a {
    text-decoration: none;
    color:white;
}